@model LMSMVC.Models.Author
<div class="card">
	<div class="card-header text-uppercase">
		<h4 class="h4">Delete Author</h4>
	</div>
	<div class="card-body">
		<form asp-action="Destroy" asp-controller="Author" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="AuthorId" />
			<div class="row">
				<div class="form-group col-sm-6">
					<label asp-for="AuthorName" class="control-label">Author Name</label>
					<input asp-for="AuthorName" placeholder="Author Name" type="text" class="form-control" />
					<span asp-validation-for="AuthorName" class="text-danger"></span>
				</div>
				<div class="form-group col-sm-6">
					<label asp-for="Email" class="control-label">Email</label>
					<input asp-for="Email" placeholder="Email" type="email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>

			</div>
			<div class="row">

				<div class="form-group col-sm-6">
					<label asp-for="Phone" class="control-label">Phone</label>
					<input asp-for="Phone" placeholder="Phone" type="tel" class="form-control" />
					<span asp-validation-for="Phone" class="text-danger"></span>
				</div>
				<div class="form-group col-sm-6">
					<label asp-for="Address" class="control-label">Address</label>
					<input asp-for="Address" placeholder="Address" type="text" class="form-control" />
					<span asp-validation-for="Address" class="text-danger"></span>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-success btn-sm float-right ml-1">Delete Author </button>
					<a asp-action="Index" class="btn btn-danger btn-sm float-right">Cancel</a>
				</div>
		</form>
	</div>
</div>