<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/admin-lte/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/admin-lte/css/adminlte.min.css" rel="stylesheet" />


</head>

<body class="hold-transition sidebar-mini layout-fixed">


    <div class="wrapper">
       
      <partial name="_Nav" />
      <partial name="_Side" />


        <div class="content-wrapper">
            @RenderBody()

        </div>
    </div>

    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin-lte/js/adminlte.min.js"></script>
    <script src="~/font-awesome/js/all.min.js"></script>
</body>
</html>
